body
{
    background-image: url(https://i.imgur.com/jiQMVX4.jpg);
    background-color: black;
    background-attachment: fixed;
    background-size: cover;
}

.genshin
{
    width: auto;
    margin-top: 5px ;
    margin-left: 550px;
    margin-right: 500px;
    margin-top: auto;

}

.mihoyo
{
    width: 120px;
    margin-top: 5px ;
    margin-left: 640px;
    margin-right: 650px;
    margin-top: 10px;
}

.qqr
{
    width: 1380px;
    height: 400px;
    
}

.carousel-inner
{
    color: black;
    
}

.page-footer
{
    background-color: #363636;
    color: white;
    text-decoration: none;
}

.genshin-world
{
    text-align: center;
    color: black;
    background-color: #B0C4DE;
    font-family: 'Times New Roman';
}

a
{
    text-decoration: none;
}
